*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.kotlin
/app/build
/app/src/main/assets/kreader_dictionary.bin
/private
/server/.gradle
/server/.kotlin
/server/build
/server/deploy/.env
